In [44]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [45]:
lr=LinearRegression()

In [46]:
import pandas as pd

In [47]:
X=pd.read_csv("Linear_X_Train.csv")
Y=pd.read_csv("Linear_Y_Train.csv")

In [48]:
X

             x
0    -0.289307
1    -0.588810
2     1.027507
3    -0.259013
4     0.782043
...        ...
3745 -0.100992
3746  1.349197
3747 -0.305164
3748  1.675833
3749 -0.491757

[3750 rows x 1 columns]

In [49]:
X

             x
0    -0.289307
1    -0.588810
2     1.027507
3    -0.259013
4     0.782043
...        ...
3745 -0.100992
3746  1.349197
3747 -0.305164
3748  1.675833
3749 -0.491757

[3750 rows x 1 columns]

In [50]:
Y

               y
0      -0.091101
1     -53.467721
2      75.457009
3     -12.025286
4      57.414187
...          ...
3745  -13.530595
3746  114.741657
3747  -34.983275
3748  145.206092
3749  -17.124494

[3750 rows x 1 columns]

In [51]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
lr.score(X,Y)

0.9709612233822353

In [53]:
output=lr.predict(X)

In [54]:
output

array([[-19.57388181],
       [-43.69687794],
       [ 86.48717332],
       ...,
       [-20.85100092],
       [138.7056574 ],
       [-35.87992564]])

In [55]:
Y

               y
0      -0.091101
1     -53.467721
2      75.457009
3     -12.025286
4      57.414187
...          ...
3745  -13.530595
3746  114.741657
3747  -34.983275
3748  145.206092
3749  -17.124494

[3750 rows x 1 columns]